PORT=3000

MAILER_EMAIL=someemail@someemail.com
MAILER_SECRET_KEY=somesecret
MAILER_SERVICE=gmail

PROD=false

MONGO_URL=mongodb://root:123456@localhost:27017
MONGO_DB_NAME=NOC
MONGO_USER=root
MONGO_PASS=123456

